* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #2b2b2b;
}

h2 {
    font-size: 48px;
    color: #efefef;
    text-align: center;
}
